In [0]:
import pandas as pd

In [0]:
def xlsx_to_insert_queries(filename, tablename, fmt):
    """Converts .xlsx data to MySQL insert queries.

    Parameters
    ----------
    filename : str
    tablename : str
    fmt : dict
          A dictionary that contains all field names as keys. True iff double quotes are required.
    
    Returns
    -------
    None
    """

    df = pd.read_excel(filename)
    df.update('"' + df[dict(filter(lambda elem: elem[1] == True, fmt.items()))].astype(str) + '"')
    for i in range(len(df)):
        print('insert into ', tablename, ' (', sep='', end='')
        print(*list(fmt), sep=', ', end=') values (')
        print(*list(df.iloc[i]), sep=', ', end=');\n')
    return

Данная функция выводит данные из .xlsx в качестве insert запросов MySQL. Пример использования:

Сначала посмотрим на формат самих данных.

In [3]:
from google.colab import files

uploaded = files.upload()

for fn in uploaded.keys():
  print('User uploaded file "{name}" with length {length} bytes'.format(
      name=fn, length=len(uploaded[fn])))

Saving j.xlsx to j.xlsx
Saving p.xlsx to p.xlsx
Saving s.xlsx to s.xlsx
Saving spj.xlsx to spj.xlsx
User uploaded file "j.xlsx" with length 9451 bytes
User uploaded file "p.xlsx" with length 9474 bytes
User uploaded file "s.xlsx" with length 10392 bytes
User uploaded file "spj.xlsx" with length 9791 bytes

In [0]:
s = pd.read_excel("s.xlsx")
p = pd.read_excel("p.xlsx")
j = pd.read_excel("j.xlsx")
spj = pd.read_excel("spj.xlsx")

In [5]:
s

  Номер_поставщика Фамилия  Рейтинг   Город
0               S1    Смит       20  Лондон
1               S2   Джонс       10   Париж
2               S3   Блейк       30   Париж
3               S4   Кларк       20  Лондон
4               S5   Адамс       30   Афины

In [6]:
p

  Номер_детали Название     Цвет  Вес   Город
0           P1    Гайка  Красный   12  Лондон
1           P2     Болт  Зеленый   17   Париж
2           P3     Винт  Голубой   17     Рим
3           P4     Винт  Красный   14  Лондон
4           P5  Кулачок  Голубой   12   Париж
5           P6     Блюм  Красный   19  Лондон

In [7]:
j

  Номер_изделия      Название   Город
0            J1  Жесткий диск   Париж
1            J2    Перфоратор     Рим
2            J3   Считыватель   Афины
3            J4       Принтер   Афины
4            J5   Флоппи-диск  Лондон
5            J6      Терминал    Осло
6            J7         Лента  Лондон

In [8]:
spj

   Номер_поставщика Номер_детали Номер_изделия  Количество
0                S1           P1            J1         200
1                S1           P1            J4         700
2                S2           P3            J1         400
3                S2           P3            J2         200
4                S2           P3            J3         200
5                S2           P3            J4         500
6                S2           P3            J5         600
7                S2           P3            J6         400
8                S2           P3            J7         800
9                S2           P5            J2         100
10               S3           P1            J1         200
11               S3           P4            J2         500
12               S4           P6            J3         300
13               S4           P6            J7         300
14               S5           P2            J2         200
15               S5           P2            J4         100
16               S5           P5            J5         500
17               S5           P5            J7         100
18               S5           P6            J2         200
19               S5           P1            J4         100
20               S5           P3            J4         200
21               S5           P4            J4         800
22               S5           P5            J4         400
23               S5           P6            J4         500

Данные в таком виде нам подходят.

Теперь разберемся с аттрибутом fmt. Такой словарь нужен для:

*   вывода названий полей;
*   правильного формата вывода значений полей.

Ключи в словаре это названия полей, а значения это bool. True, если значение поля обернуто двойными кавычками, False в противном случае.

In [0]:
s_fmt = {"Номер_поставщика": True, "Фамилия": True, "Рейтинг": False, "Город": True}
p_fmt = {"Номер_детали": True, "Название": True, "Цвет": True, "Вес": False, "Город": True}
j_fmt = {"Номер_изделия": True, "Название": True, "Город": True}
spj_fmt = {"Номер_поставщика": True, "Номер_детали": True, "Номер_изделия": True, "Количество": False}

Использование функции:

In [10]:
xlsx_to_insert_queries("s.xlsx", "S", s_fmt)

insert into S (Номер_поставщика, Фамилия, Рейтинг, Город) values ("S1", "Смит", 20, "Лондон");
insert into S (Номер_поставщика, Фамилия, Рейтинг, Город) values ("S2", "Джонс", 10, "Париж");
insert into S (Номер_поставщика, Фамилия, Рейтинг, Город) values ("S3", "Блейк", 30, "Париж");
insert into S (Номер_поставщика, Фамилия, Рейтинг, Город) values ("S4", "Кларк", 20, "Лондон");
insert into S (Номер_поставщика, Фамилия, Рейтинг, Город) values ("S5", "Адамс", 30, "Афины");

In [11]:
xlsx_to_insert_queries("p.xlsx", "P", p_fmt)

insert into P (Номер_детали, Название, Цвет, Вес, Город) values ("P1", "Гайка", "Красный", 12, "Лондон");
insert into P (Номер_детали, Название, Цвет, Вес, Город) values ("P2", "Болт", "Зеленый", 17, "Париж");
insert into P (Номер_детали, Название, Цвет, Вес, Город) values ("P3", "Винт", "Голубой", 17, "Рим");
insert into P (Номер_детали, Название, Цвет, Вес, Город) values ("P4", "Винт", "Красный", 14, "Лондон");
insert into P (Номер_детали, Название, Цвет, Вес, Город) values ("P5", "Кулачок", "Голубой", 12, "Париж");
insert into P (Номер_детали, Название, Цвет, Вес, Город) values ("P6", "Блюм", "Красный", 19, "Лондон");

In [12]:
xlsx_to_insert_queries("j.xlsx", "J", j_fmt)

insert into J (Номер_изделия, Название, Город) values ("J1", "Жесткий диск", "Париж");
insert into J (Номер_изделия, Название, Город) values ("J2", "Перфоратор", "Рим");
insert into J (Номер_изделия, Название, Город) values ("J3", "Считыватель", "Афины");
insert into J (Номер_изделия, Название, Город) values ("J4", "Принтер", "Афины");
insert into J (Номер_изделия, Название, Город) values ("J5", "Флоппи-диск", "Лондон");
insert into J (Номер_изделия, Название, Город) values ("J6", "Терминал", "Осло");
insert into J (Номер_изделия, Название, Город) values ("J7", "Лента", "Лондон");

In [13]:
xlsx_to_insert_queries("spj.xlsx", "SPJ", spj_fmt)

insert into SPJ (Номер_поставщика, Номер_детали, Номер_изделия, Количество) values ("S1", "P1", "J1", 200);
insert into SPJ (Номер_поставщика, Номер_детали, Номер_изделия, Количество) values ("S1", "P1", "J4", 700);
insert into SPJ (Номер_поставщика, Номер_детали, Номер_изделия, Количество) values ("S2", "P3", "J1", 400);
insert into SPJ (Номер_поставщика, Номер_детали, Номер_изделия, Количество) values ("S2", "P3", "J2", 200);
insert into SPJ (Номер_поставщика, Номер_детали, Номер_изделия, Количество) values ("S2", "P3", "J3", 200);
insert into SPJ (Номер_поставщика, Номер_детали, Номер_изделия, Количество) values ("S2", "P3", "J4", 500);
insert into SPJ (Номер_поставщика, Номер_детали, Номер_изделия, Количество) values ("S2", "P3", "J5", 600);
insert into SPJ (Номер_поставщика, Номер_детали, Номер_изделия, Количество) values ("S2", "P3", "J6", 400);
insert into SPJ (Номер_поставщика, Номер_детали, Номер_изделия, Количество) values ("S2", "P3", "J7", 800);
insert into SPJ (Номер_поставщика, Номер_детали, Номер_изделия, Количество) values ("S2", "P5", "J2", 100);
insert into SPJ (Номер_поставщика, Номер_детали, Номер_изделия, Количество) values ("S3", "P1", "J1", 200);
insert into SPJ (Номер_поставщика, Номер_детали, Номер_изделия, Количество) values ("S3", "P4", "J2", 500);
insert into SPJ (Номер_поставщика, Номер_детали, Номер_изделия, Количество) values ("S4", "P6", "J3", 300);
insert into SPJ (Номер_поставщика, Номер_детали, Номер_изделия, Количество) values ("S4", "P6", "J7", 300);
insert into SPJ (Номер_поставщика, Номер_детали, Номер_изделия, Количество) values ("S5", "P2", "J2", 200);
insert into SPJ (Номер_поставщика, Номер_детали, Номер_изделия, Количество) values ("S5", "P2", "J4", 100);
insert into SPJ (Номер_поставщика, Номер_детали, Номер_изделия, Количество) values ("S5", "P5", "J5", 500);
insert into SPJ (Номер_поставщика, Номер_детали, Номер_изделия, Количество) values ("S5", "P5", "J7", 100);
insert into SPJ (Номер_поставщика, Номер_детали, Номер_изделия, Количество) values ("S5", "P6", "J2", 200);
insert into SPJ (Номер_поставщика, Номер_детали, Номер_изделия, Количество) values ("S5", "P1", "J4", 100);
insert into SPJ (Номер_поставщика, Номер_детали, Номер_изделия, Количество) values ("S5", "P3", "J4", 200);
insert into SPJ (Номер_поставщика, Номер_детали, Номер_изделия, Количество) values ("S5", "P4", "J4", 800);
insert into SPJ (Номер_поставщика, Номер_детали, Номер_изделия, Количество) values ("S5", "P5", "J4", 400);
insert into SPJ (Номер_поставщика, Номер_детали, Номер_изделия, Количество) values ("S5", "P6", "J4", 500);